@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: theme('colors.rose.50');
  background-image:
    radial-gradient(at 0% 0%, hsla(353, 100%, 96%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(28, 100%, 94%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(353, 100%, 96%, 1) 0, transparent 50%);
  background-attachment: fixed;
}